@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 50 10% 98%;
    --foreground: 0 0% 18%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 18%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 18%;
    --primary: 252 38% 64%;
    --primary-foreground: 0 0% 100%;
    --secondary: 50 6% 95%;
    --secondary-foreground: 0 0% 18%;
    --muted: 50 6% 95%;
    --muted-foreground: 0 0% 54%;
    --accent: 158 32% 57%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 50 4% 92%;
    --input: 50 4% 92%;
    --ring: 252 38% 64%;
    --radius: 0.625rem;
  }

  .dark {
    --background: 240 7% 11%;
    --foreground: 50 4% 93%;
    --card: 240 5% 13%;
    --card-foreground: 50 4% 93%;
    --popover: 240 5% 13%;
    --popover-foreground: 50 4% 93%;
    --primary: 255 90% 79%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 4% 14%;
    --secondary-foreground: 50 4% 93%;
    --muted: 240 4% 14%;
    --muted-foreground: 0 0% 60%;
    --accent: 158 40% 60%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 4% 18%;
    --input: 240 4% 18%;
    --ring: 255 90% 79%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
  }

  body {
    @apply bg-background text-foreground antialiased;
  }
}
